<link href="https://fonts.googleapis.com/css?family=Cuprum|Francois+One" rel="stylesheet">
<link rel="stylesheet" href="views.css">
<div class="project-container">

    <div class="about-container">
        <h2>ABOUT</h2>
        <p class="project-description">VentureBound is a full stack application that allows a user to create an account, securely log in, create adventures and save them along with images, Google Maps coordinates and other info.  A user can view all saved adventures both as markers on a Google Maps instance, and as adventure titles.</p>
    </div>

    <div class="tech-container">
        <h2>Tech</h2>
        <ul>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>Angular UI Router</li>
            <li>TweenMax</li>
            <li>Google Maps API</li>
            <li>Node</li>
            <li>PostgreSQL</li>
        </ul>
    </div>

    <div class="screenshots-container">
        <h2>Screenshots</h2>
        <img src="screenshots/venturebound.png">
        <img src="screenshots/venture-two.png">
        <img src="screenshots/venture-three.png">
        <img src="screenshots/venture-four.png">
        <img src="screenshots/venture-five.png">
        <img src="screenshots/venture-six.png">
        <img src="screenshots/venture-seven.png">
    </div>

</div>

