<link href="https://fonts.googleapis.com/css?family=Cuprum|Francois+One" rel="stylesheet">
<link rel="stylesheet" href="views.css">
<div class="project-container">

    <div class="about-container">
        <h2>About</h2>
        <p class="project-description">This is a portfolio site concept that I built.  The goal was to have an eye catching effect, and cool transitions.  Then there was a concept for easy viewing and navigation of projects.</p>
    </div>

    <div class="tech-container">
        <h2>Tech</h2>
        <ul>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>Angular UI Router</li>
        </ul>
    </div>

    <div class="screenshots-container">
        <h2>Screenshots</h2>
        <img src="screenshots/home-hover.png">
    </div>

</div>

