<link href="https://fonts.googleapis.com/css?family=Cuprum|Francois+One" rel="stylesheet">
<link rel="stylesheet" href="views.css">
<div class="project-container">

    <div class="about-container">
        <h2>ABOUT</h2>
        <p class="project-description">wearetopsecret.cf is a clone of wearetopsecret.com.  A couple other devs and I were wowed by the graphics and effects on Super Top Secret's website.  So we set out to see how much of it we could recreate in a short amount of time.  We wrote custom CSS animations to do things that we hadn't thought were possible with CSS.  We wrote our own JavaScript parallax functions, and we created TweenMax animations.  And we had a super fun time doing it.</p>
    </div>

    <div class="tech-container">
        <h2>Tech</h2>
        <ul>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>Angular UI Router</li>
            <li>TweenMax</li>
            <li>SASS</li>
            <li>Node</li>
        </ul>
    </div>

    <div class="screenshots-container">
        <h2>Screenshots</h2>
        <img src="screenshots/topsecret.png">
        <img src="screenshots/secret-two.png">
        <img src="screenshots/secret-three.png">
    </div>

</div>

