<link href="https://fonts.googleapis.com/css?family=Cuprum|Francois+One" rel="stylesheet">
<link rel="stylesheet" href="views.css">
<div class="project-container">

    <div class="about-container">
        <h2>ABOUT</h2>
        <p class="project-description">Zaatari was a project that I used to introduce myself to D3.  I took data about the ratios of men to women and their age groups and created with visualization based off the data.</p>
    </div>

    <div class="tech-container">
        <h2>Tech</h2>
        <ul>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>D3/SVG</li>
        </ul>
    </div>

    <div class="screenshots-container">
        <h2>Screenshots</h2>
        <a href="https://zaatari-data.herokuapp.com/"><img src="screenshots/zaatari.png"></a>
    </div>

</div>

